<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผลโหวต</title>
</head>
<body>
    <div class="container">
        <h1 class="warm">Warm Question</h1>
        <ul>
            {% for question in warm_questions %}
                <li class ="warm_question">
                    <a href="{% url 'mypoll:detail' question.id %}">
                        {{ question.question_text }} ({{ question.total_votes }} votes)
                    </a>
                </li>
            {% endfor %}
        </ul>

        <h1 class="hot">Hot Question</h1>
        <ul>
            {% for question in hot_questions %}
                <li class="hot_question">
                    <a href="{% url 'mypoll:detail' question.id %}">
                        {{ question.question_text }} ({{ question.total_votes }} votes)
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
